<div class="wrapper row2">
      <!--<div id="breadcrumb">
        ########################################################################################## 
        <ul>
          <li><a href="#">User</a></li>
          <li><a href="#">Details</a></li>


        </ul>
        ########################################################################################## 
      </div>-->
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
<div class="wrapper row3">
  <div class="loading" *ngIf="IsLoading"></div>
  <main id="container" class="clear" *ngIf="!IsLoading">
    <!-- container body -->
    <!-- ########################################################################################## -->
    <h1 align="center"><a href="">{{User.first_name + " " + User.last_name}}</a></h1>
    <img *ngIf="ImageBase64" class="imgr borderedbox" [src]="ImageBase64" alt="" style="width:240px;"><br>
    <span class="date-profile">Last update: {{User.updated_at | date: "HH:mm d MMMM, y"}}</span>
    <p *ngIf="User.phone || User.email">
      <strong class="strong-profile">Contacts:</strong>
      <span *ngIf="User.phone">
        <span class="icon-phone"></span>
        {{User.phone}}
      </span>
      <span *ngIf="User.phone" >
        <br />
      </span>
      <span [ngClass]="{'contact-margin-profile':User.phone}" *ngIf="User.email">
        <span class="icon-envelope"></span>
        {{User.email}}
      </span>
    </p>

    <p *ngIf="User.company">

      <span *ngIf="User.company.name">
        <strong class="strong-profile">Company name:</strong>
        {{User.company.name}}
        <br />
      </span>
      <span *ngIf="(User.company.phone || User.company.email) && (User.company.phone != User.phone || User.company.email != User.email)">
        <strong class="strong-profile">Company contacts:</strong>
        <span *ngIf="User.company.phone && User.company.phone != User.phone">
          <span class="icon-phone"></span>
          {{User.company.phone}}
        </span>
        <span *ngIf="User.company.phone && User.company.phone != User.phone" >
          <br />
        </span>
        <span [ngClass]="{'company-contact-margin-profile':User.company.phone && User.company.phone != User.phone}" *ngIf="User.company.email && User.company.email != User.email">
          <span class="icon-envelope"></span>
          {{User.company.email}}
          <br />
        </span>
      </span>

      <span *ngIf="User.company.sub_category">
        <strong class="strong-profile">Category:</strong> 
        <span >
          <span >{{User.company.sub_category}}</span>
        </span>
        <br />
        <!--<hr *ngIf="User.company.agrements && User.company.agrements.length != 0 && User.company.expertises && User.company.expertises.length != 0">-->
      </span>
      <span *ngIf="User.company.expertises && User.company.expertises.length != 0">
        <strong class="strong-profile">Expertises:</strong> 
        <span *ngFor="let item of User.company.expertises; let last = last" >
          <span >{{item}}</span><span *ngIf="!last">,</span>
        </span>
        <br />
        <!--<hr *ngIf="User.company.agrements && User.company.agrements.length != 0">-->
      </span> 
      <span *ngIf="User.company.agrements && User.company.agrements.length != 0">
        <strong class="strong-profile">Agreements:</strong> 
        <span *ngFor="let item of User.company.agrements; let last = last" >
          <span >{{item}}</span><span *ngIf="!last">,</span>
        </span>
        <br />
      </span>  
    </p>
    <h3 *ngIf="User.company && User.company.description">About</h3>
    <p *ngIf="User.company && User.company.description">
      {{User?.company?.description}} </p>
    
    <div class="rate-div borderbox" *ngIf="User.company">
      <div *ngIf="User.company" class="like in-profile" style="margin-right: 10px;" (click)="LikeUser(User.id*1)"><img src="../images/demo/like.png" alt=""> Like {{User.company.likes}}</div> 
      <div class="rating_wrap inside-profile-rates" >
        <div class="stars_wrap in-profile" style="margin-right: 10px;">
          <div class="stars_empty"  #concepteur (click)="RateUser(User.id,concepteur,$event)"><div class="stars" [ngStyle]="{'width': 100*User.company.rate/5. + '%'}"></div></div>
          <span>Concepteur</span>
        </div>
        <div class="stars_wrap in-profile">
          <div class="stars_empty" (click)="UnrateUser(User.id)"><div class="stars" [ngStyle]="{'width': 100*User.company.rate/5. + '%'}"></div></div>
          <span>Conseiller</span>
        </div>
        
      </div>  
      <div class="error-msg-profile" *ngIf="ErrorMesage">{{ErrorMesage}}</div>
    </div>
    <!-- ########################################################################################## -->
    <!-- / container body -->
    <div class="clear"></div>
  </main>
</div>