<div class="wrapper row2">
      <div id="breadcrumb">
        <!-- ########################################################################################## -->
        <ul>
          <li><a href="#">User</a></li>
          <li><a href="#">Details</a></li>


        </ul>
        <!-- ########################################################################################## -->
      </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
      <main id="container" class="clear">
        <!-- container body -->
        <!-- ########################################################################################## -->
        <h1 align="center"><a href="">{{User.FullName}}</a></h1>
        <img class="imgr borderedbox" [src]="User.Logo" alt="" style="width:240px;">
        <h3>Contacts</h3>
            <p>
                <span class="icon-phone"></span> {{User.Phone}}
            </p>
            <p>
                <span class="icon-envelope"></span> {{User.Email}}
            </p>
        <h3>Categories</h3>
        <div *ngFor="let cat of User.Categories">
            <p>{{cat}}</p>
        </div>
        <h3>About</h3>
        <p>
          {{User.About}} </p>
        <h3>Rating</h3>
        <h4>
          <span class="icon-star"></span>
          <span class="icon-star"></span>
          <span class="icon-star"></span>
          <span class="icon-star"></span>
          <span class="icon-star"></span>
        </h4>
        <!-- ########################################################################################## -->
        <!-- / container body -->
        <div class="clear"></div>
      </main>
    </div>