<div class="wrapper row2">
  
</div>
<!-- ################################################################################################ -->
<div class="wrapper">
  
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <!-- ########################################################################################## -->
    <div class="loading" *ngIf="IsLoading"></div>
  <main id="container" class="clear" *ngIf="!IsLoading">
    <!-- container body -->
    <!-- ########################################################################################## -->
    <h1 align="center"><a href="">{{News.title}}</a></h1>
    <p>
    </p>
    <div class="news-description">
      {{News.description}}
      <hr>
    </div>
    <div>
      <div class="left img image-news-info">
          <img class="borderedbox" [src]="Image" alt="">
      </div>
      <div class="news-info-right">
          <p *ngIf="News.subtitle">
            <b>Subtitle: <a >{{News.subtitle}}</a></b>
          </p>
          <p >
            <b>Author: <a >{{Author.first_name + " " + Author.last_name}}</a></b>
          </p>
          <p *ngIf="News.ncategory">
            <b>Category: <a class="upper-first" >{{News.ncategory}}</a></b>
          </p>
          <p *ngIf="News.ntype">
            <b>Type: <a class="upper-first" >{{News.ntype}}</a></b>
          </p>
          <p *ngIf="News.links">
            <b>Links: <a >{{News.links}}</a></b>
          </p>
      </div>
    </div>
    
    <!-- ########################################################################################## -->
    <!-- / container body -->
    <div class="clear"></div>
  </main>
</div>