<div class="wrapper row2">
  
</div>
<!-- ################################################################################################ -->
<div class="wrapper">
  
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <!-- ########################################################################################## -->
    <div class="loading" *ngIf="IsLoading"></div>
  <main id="container" class="clear" *ngIf="!IsLoading">
    <!-- container body -->
    <!-- ########################################################################################## -->
    <h1 align="center"><a>{{News.title}}</a></h1>
    <p>
    </p>
    <div class="news-description" [innerHTML]="News.description">
      <hr>
    </div>
    <div>
      <div class="left img image-news-info">
          <img class="borderedbox" [src]="Image" alt="">
      </div>
      <div class="news-info-right">
          <p *ngIf="News.subtitle">
            <b>Subtitle: <a >{{News.subtitle}}</a></b>
          </p>
          <p *ngIf="Ncategory && Ncategory.length != 0">
            <b>Category: 
                <a *ngFor="let item of Ncategory; let last = last">
                <span >
                  {{item}}
                </span>
                <span *ngIf="!last">,</span>
              </a>
            </b>
          </p>
          <p *ngIf="News.ntype">
            <b>Type: <a class="upper-first" >{{News.ntype}}</a></b>
          </p>
          <p *ngIf="News.links">
            <b>Links: <a [innerHTML]="News.links"></a></b>
          </p>
          <p >
            <b>Author: <a [routerLink]="['/users',News.user_id]" >{{News.user_first_name + " " + News.user_last_name}}</a></b>
          </p>
          <p *ngIf="SubCategory && SubCategory.length != 0">
            <b>Author category: 
              <a *ngFor="let item of SubCategory; let last = last">
                <span >
                  {{item}}
                </span>
                <span *ngIf="!last">,</span>
              </a>
            </b>
          </p>
          <p *ngIf="Expertises && Expertises.length != 0">
            <b>Author expertises: 
              <a *ngFor="let item of Expertises; let last = last">
                <span >
                  {{item}}
                </span>
                <span *ngIf="!last">,</span>
              </a>
            </b>
          </p>
          <p *ngIf="Agreements && Agreements.length != 0">
            <b>Author agrements: 
              <a *ngFor="let item of Agreements; let last = last">
                <span >
                  {{item}}
                </span>
                <span *ngIf="!last">,</span>
              </a>
            </b>
          </p>
      </div>
    </div>
    
    <!-- ########################################################################################## -->
    <!-- / container body -->
    <div class="clear"></div>
  </main>
</div>