<div class="wrapper">
      <div id="slider"> 
        <!-- ############################################################################################################# -->
        <div id="slidewrap">
          <div class="heading"><span id="slidecaption"></span></div>
        </div>
        <!-- ############################################################################################################# --> 
      </div>
    </div>
    <!-- ################################################################################################ --> 
    <!-- ################################################################################################ --> 
    <!-- ################################################################################################ -->
<div class="wrapper row3">
    <main id="container" class="clear"> 
        <!-- container body --> 
        <!-- ########################################################################################## -->
        <ul class="nospace push50 center clear">
            <li class="one_quarter first">
                <div class="push30"><span class="circle icon-flag"></span></div>
                <h6 class="push10">Lorem ipsum</h6>
                <p class="nospace push10">Lorem ipsum dolor sit amet</p>
                <p class="nospace"><a href="./pages/post_details.html">Read more &raquo;</a></p>
            </li>
            <li class="one_quarter">
                <div class="push30"><span class="circle icon-book"></span></div>
                <h6 class="push10">Lorem ipsum</h6>
                <p class="nospace push10">Lorem ipsum dolor sit amet</p>
                <p class="nospace"><a href="./pages/post_details.html">Read more &raquo;</a></p>
            </li>
            <li class="one_quarter">
                <div class="push30"><span class="circle icon-trophy"></span></div>
                <h6 class="push10">Lorem ipsum</h6>
                <p class="nospace push10">Lorem ipsum dolor sit amet</p>
                <p class="nospace"><a href="./pages/post_details.html">Read more &raquo;</a></p>
            </li>
            <li class="one_quarter">
                <div class="push30"><span class="circle icon-group"></span></div>
                <h6 class="push10">Lorem ipsum</h6>
                <p class="nospace push10">Lorem ipsum dolor sit amet</p>
                <p class="nospace"><a href="./pages/post_details.html">Read more &raquo;</a></p>
            </li>
        </ul>
        <hr class="nospace push50">
        <section class="ads push50">
            <div class="lasts_ads">
                <h5 class="blue_zag">Dernières annonces publiées</h5>
                <div class="list">
                    <div class="one_ads">
                        <p class="c">Immobilier</p>
                        <h6>Aenean euismod bibendum laoreet.</h6>
                        <p>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. ...</p>
                        <a href="#">Voir l'offre »</a>
                        <p class="d">20 Août 2016</p>
                        <div class="clear"></div>
                    </div>
                    <div class="one_ads">
                        <p class="c">Immobilier</p>
                        <h6>Aenean euismod bibendum laoreet.</h6>
                        <p>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. ...</p>
                        <a href="#">Voir l'offre »</a>
                        <p class="d">20 Août 2016</p>
                        <div class="clear"></div>
                    </div>
                    <div class="one_ads">
                        <p class="c">Immobilier</p>
                        <h6>Aenean euismod bibendum laoreet.</h6>
                        <p>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. ...</p>
                        <a href="#">Voir l'offre »</a>
                        <p class="d">20 Août 2016</p>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="ads_form">
                <h5 class="blue_zag">Rechercher une annonce</h5>
                <form action="" method="post">
                    <div class="big_input">
                        <label>Mot clé</label>
                        <input type="text" placeholder="Renseigner un mot de recherche">
                    </div>
                    <div class="left_form_part">
                        <label>Type d'investissement patrimonial</label>
                        <select>
                            <option>Tous les types</option>
                        </select>
                        <br>
                        <label>Pour quel public</label>
                        <select>
                            <option>Tous les publics</option>
                        </select>
                        <br>
                        <label>Date de mise en ligne de l'offre</label>
                        <input type="text" placeholder="Du-Au">
                    </div>
                    <div class="right_form_part">
                        <label>Dans quelle région</label>
                        <input type="checkbox"> <select><option>France entiere</option></select><br>
                        <input type="checkbox"> Europe hors France<br>
                        <input type="checkbox"> Monde hors Europe
                        <br>
                        <br>
                        <button type="submit">Lancer la recherche »</button>
                    </div>
                    <div class="clear"></div>
                </form>
                <a href="#" class="all_olx"><img src="images/demo/olx_icon.png" alt="">&nbsp;&nbsp;Voir toutes les annonces</a>
                <a href="#" class="add_olx"><img src="images/demo/add_olx_icon.png" alt="">&nbsp;&nbsp;Déposer une annonce</a>
            </div>
            <div class="clear"></div>
        </section>
        <hr class="nospace push50">
        <h3 class="section_zag blue_zag">Offres exclusives</h3>
        <ul class="nospace push50 clear">
            <li class="one_quarter first"><a href="#"><img src="images/demo/gallery/gallery.gif" alt=""></a>
                <div class="borderedbox pad15">
                    <h6 class="push10">Aenean euismod bibendum laoreet.</h6>
                    <p class="nospace push10">Proin gravida dolor sit amet lacus accumsan et viverra justo commodo...</p>
                    <div class="nospace push10">
                        <span class="cat">Immobilier</span>
                        <span class="date">20 Août 2016</span>
                    </div>
                    <p class="nospace clear"><a href="./pages/user_details.html">Voir l'offre &raquo;</a></p>
                </div>
            </li>
            <li class="one_quarter"><a href="#"><img src="images/demo/gallery/gallery.gif" alt=""></a>
                <div class="borderedbox pad15">
                    <h6 class="push10">Aenean euismod bibendum laoreet.</h6>
                    <p class="nospace push10">Proin gravida dolor sit amet lacus accumsan et viverra justo commodo...</p>
                    <div class="nospace push10">
                        <span class="cat">Immobilier</span>
                        <span class="date">20 Août 2016</span>
                    </div>
                    <p class="nospace clear"><a href="./pages/user_details.html">Voir l'offre &raquo;</a></p>
                    </div>
            </li>
            <li class="one_quarter"><a href="#"><img src="images/demo/gallery/gallery.gif" alt=""></a>
                <div class="borderedbox pad15">
                    <h6 class="push10">Aenean euismod bibendum laoreet.</h6>
                    <p class="nospace push10">Proin gravida dolor sit amet lacus accumsan et viverra justo commodo...</p>
                    <div class="nospace push10">
                        <span class="cat">Immobilier</span>
                        <span class="date">20 Août 2016</span>
                    </div>
                    <p class="nospace clear"><a href="./pages/user_details.html">Voir l'offre &raquo;</a></p>
                </div>
            </li>
            <li class="one_quarter"><a href="#"><img src="images/demo/gallery/gallery.gif" alt=""></a>
                <div class="borderedbox pad15">
                <h6 class="push10">Aenean euismod bibendum laoreet.</h6>
                <p class="nospace push10">Proin gravida dolor sit amet lacus accumsan et viverra justo commodo...</p>
                <div class="nospace push10">
                    <span class="cat">Immobilier</span>
                    <span class="date">20 Août 2016</span>
                </div>
                <p class="nospace clear"><a href="./pages/user_details.html">Voir l'offre &raquo;</a></p>
                </div>
            </li>
        </ul>
        <!-- ########################################################################################## --> 
        <!-- / container body -->
        <hr class="nospace push50">
        <h3 class="section_zag blue_zag">Professionnels du chiffre et du droit</h3>
        <p class="subzag push50">Sur Place du Patrimoine, les professionnels du chiffre et du droit se rencontrent et remontent leur expérience pratique de gestion du patrimoine. Pour les particuliers et les chefs d'entreprises : l'occasion de les contacter, d'obtenir un conseil, de consulter leurs offres et de noter leurs prestations.</p>
        <section class="profs push50">
            <div class="prof">
                <div class="img" style="background-image: url(images/demo/business-people.jpg)"></div>
                <div class="desc">
                    <h4>Professionnels de la gestion du patrimoine</h4>
                    <p>Un professionnel de la gestion du patrimoine affilié, c'est consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Aenean euismod bibendum laoreet proin gravida dolor sit amet lacus ...</p>
                    <a href="#">En savoir plus »</a><br>
                    <a href="#" class="search">Trouver un professionnel</a><a href="#" class="search">Devenir priofessionnel affilié</a>
                </div>
            </div>
            <hr class="divide_line">
            <div class="prof prof_right">
                <div class="desc">
                    <h4>Concepteurs de solutions patrimoniales</h4>
                    <p>Un concepteur de produits financiers affilié, c'est consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Aenean euismod bibendum laoreet proin gravida dolor sit amet lacus ...</p>
                    <a href="#">En savoir plus »</a><br>
                    <a href="#" class="search">Trouver un concepteur</a><a href="#" class="search">Devenir concepteur affilié</a>
                </div>
                <div class="img" style="background-image: url(images/demo/business-people2.jpg)"></div>
            </div>
        </section>
        <hr class="nospace push50">
        <div class="clear"></div>
        <h3 class="section_zag blue_zag">Les grandes lignes de la gestion de patrimoine</h3>
        <section class="big_img push50">
            <div class="white_block">
                <h4>Comprendre la gestion patrimoniale</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
                <p>Proin sodales pulvinar tempor.</p>
                <ul>
                    <li>Cum sociis natoque penatibus</li>
                    <li>et magnis dis parturient montes,</li>
                    <li>nascetur ridiculus mus.</li>
                </ul>
                <h5>Un conseil pour mieux gérer votre patrimoine ?</h5>
                <p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
                <a href="#">En savoir plus »</a>
            </div>
            <div class="clear"></div>
        </section>
        <hr class="nospace push50">
        <div class="clear"></div>
        <h3 class="section_zag blue_zag">Témoignages</h3>
        <section class="last_sec push50">
            <div class="text_block">
                <h4>Titre du témoignage</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
                <a href="#">En savoir plus »</a>
            </div>
            <div class="img"><img src="images/demo/sec_3.jpg" alt=""></div>
            <div class="clear"></div>
            <ul class="revs_links">
                <li class="current">Antoine et Marie <small>(Particuliers Investisseurs)</small></li>
                <li>Claude <small>(Conseiller en Gestion de Patrimoine)</small></li>
                <li>Philippe <small>(Concepteur de solutions)</small></li>
            </ul>
        </section>
      </main>
      <!-- JAVASCRIPTS --> 
    <script src="layout/scripts/jquery.min.js"></script> 
    <script src="layout/scripts/supersized/supersized.min.js"></script> 
    <script>
    jQuery(function ($) {
        $.supersized({
            slides: [{
                image: 'images/demo/slider/1.png',
                title: 'Lorem ipsum dolor<br><small>sit amet</small>'
            }, {
                image: 'images/demo/slider/2.png',
                title: 'Lorem Sit amet'
            }, {
                image: 'images/demo/slider/3.png',
                title: 'Lorem ipsum'
            }]
        });
    });
    </script>
    </div>