<div class="wrapper row3">
  <main id="container" class="clear">
    <!-- container body -->
    <div class="loading" *ngIf="IsLoading"></div>
    <div *ngIf="regOk">
      <h1> Your account was created! Please <a routerLink="/login">sign in</a>! </h1>
    </div>
    <div *ngIf="regError">
      <h1 class="error-msg">{{regErrorMsg}}</h1>
    </div>
    <div class="register_block" *ngIf="!isLoading && !regOk">
      <div class="reg_block reg_left">
        <h2 *ngIf="!isPro">Professionnels du chiffre et du droit</h2>
        <h2 *ngIf="isPro">Concepteurs de Solutions</h2>
        <form action="">
          <label>Email</label>
          <input type="email" name="email" [(ngModel)]="email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"><br>
          <label>Password</label>
          <input type="password" name="password" [(ngModel)]="password" required><br>
          <label>First Name</label>
          <input type="text" name="fname" [(ngModel)]="fname" required><br>
          <label>Last Name</label>
          <input type="text" name="lname" [(ngModel)]="lname" required><br>
          <label>Phone</label>
          <input type="number" name="phone" [(ngModel)]="phone" required><br>
          <button *ngIf="!isPro" (click)="RegisterUser(email,password,fname,lname,phone)">Register</button>
        </form>

        
        <form *ngIf="isPro">
          <!--<label>Email</label>
          <input type="text" name="email" [(ngModel)]="email"><br>
          <label>Password</label>
          <input type="password" name="password" [(ngModel)]="password"><br>
          <label>First Name</label>
          <input type="text" name="fname" [(ngModel)]="fname"><br>
          <label>Last Name</label>
          <input type="text" name="lname" [(ngModel)]="lname"><br>
          <label>Phone</label>
          <input type="text" name="phone" [(ngModel)]="phone"><br>-->
          <h3>Company</h3>
          <label>Name</label>
          <input type="text" name="cname" [(ngModel)]="cname"><br>
          <label>Address</label>
          <input type="text" name="caddress" [(ngModel)]="caddress"><br>
          <label>Other Address</label>
          <input type="text" name="coaddress" [(ngModel)]="coaddress"><br>
          <label>Email</label>
          <input type="text" name="cemail" [(ngModel)]="cemail"><br>
          <label>Phone</label>
          <input type="text" name="cphone" [(ngModel)]="cphone"><br>
          <label>Worktime</label>
          <input type="text" name="worktime" [(ngModel)]="worktime"><br>
          <!--<label>Company ID</label>
          <input type="text" name="companyid" [(ngModel)]="companyid"><br>-->
          <label>Description</label>
          <textarea name="description" [(ngModel)]="description"></textarea><br>
          <label>Social links</label>
          <textarea name="links" [(ngModel)]="links"></textarea><br>
          <label>Logo image</label>
          <input type="file" accept="image/*" name="logo_img" [(ngModel)]="logo_img" (change)="changeListener($event)"><br>
          <div class="part_reg">
            <div>
              <label>Company type</label>
              <select name="c_type" [(ngModel)]="c_type" >
                <option value="concepteur">Concepteur</option>
                <option value="conseiller">Conseiller</option>
                <option value="both">Both</option>
              </select>
            </div>
            <div>
              <label>Subcategory</label>
              <select name="subcategory" [(ngModel)]="subcategory">
                <option value="classique">Classique</option>
                <option value="e_brooker">E-brooker</option>
                <option value="fintech">Fintech</option>
                <option value="crowdfunding">Crowdfunding</option>
                <option value="lendfunding">Lendfunding</option>
                <option value="institutionnels">Institutionnels</option>
              </select>
            </div>
          </div><br>
          <div class="part_reg">
            <div class="expertises-div">
              <label>Expertises</label>
              <div class="form-group" *ngFor="let item of Expertises">
                  <label>
                    <input type="checkbox" [checked]="item.checked" (change)="item.checked = !item.checked">
                    {{item.name}}
                  </label>
              </div>
            </div>
            <div class="expertises-div">
              <label>Agrements</label>
              <div class="form-group" *ngFor="let item of Agreements">
                  <label>
                    <input type="checkbox" [checked]="item.checked" (change)="item.checked = !item.checked">
                    {{item.name}}
                  </label>
              </div>
            </div>
          </div><br>
          <button [disabled]="!isOkEnabled" (click)="RegisterUserCompany(email,password,fname,lname,phone,cname,caddress,coaddress,cemail,cphone,worktime,description,links,c_type,subcategory)">Register</button>
        </form>
      </div>
      <div class="reg_block reg_right">
          <button (click)="ChangeUserType()"> Change user type</button>
      </div>
    </div>

    <!-- ########################################################################################## -->
    <!-- / container body -->
    <div class="clear"></div>
  </main>
</div>