<div class="wrapper row0">
  <div id="topbar" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul class="nospace">
        <li><span class="icon-phone"></span> +00 (123) 456 7890</li>
        <li><span class="icon-envelope-alt"></span> info@patrimoine.com</li>
      </ul>
    </div>
    <!--<div class="fl_right">
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="icon-facebook"></i></a></li>
        <li><a class="faicon-pinterest" href="#"><i class="icon-pinterest"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="icon-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="icon-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="icon-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="icon-google-plus"></i></a></li>
        <li><a class="faicon-skype" href="#"><i class="icon-skype"></i></a></li>
        <li><a class="faicon-rss" href="#"><i class="icon-rss"></i></a></li>
      </ul>
    </div>-->
    <!--<logreg-comp></logreg-comp>-->
    <nav *ngIf="isLoggedIn" id="profile" class="fl_center">
      <ul class="clear">
        <li>
          <a class="drop" routerLink="/users/me">{{me.first_name + " " + me.last_name}}</a>
            <ul *ngIf="IsDropped">
              <li><a (click)="onMenuItemClick()" routerLink="/users/me">My profile</a></li>
              <li><a (click)="onMenuItemClick()" routerLink="/profile">Edit profile</a></li>
              <li *ngIf="createAdAccess"><a (click)="onMenuItemClick()" routerLink="/my_ads">My ads</a></li>
              <li *ngIf="createAdAccess"><a (click)="onMenuItemClick()" routerLink="/create_ad">Create ad</a></li>
              <!--<li><a routerLink="/my_annonces">My annonces</a></li>-->
              <li *ngIf="createNewsAccess"><a (click)="onMenuItemClick()" routerLink="/create_news">Create annonce</a></li>
              <li style="cursor:pointer;"><a (click)="Logout()" >Logout</a></li>
            </ul>
          </li>
      </ul>
    </nav>
    <div *ngIf="!isLoggedIn" class="fl_center">
      <a  routerLink="/login">Login</a> | <a routerLink="/register">Register</a>
    </div>
    <!-- ################################################################################################ --> 
  </div>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1>
        <a (click)="onMenuItemClick('index')" routerLink="/">
          <img src="assets/images/demo/patrimoineLogo.png" alt="Patrimoine">
        </a>
      </h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li [ngClass]="{'active': currentMenu == 'index'}">
          <a (click)="onMenuItemClick('index')" routerLink="/">Accueil</a>
        </li>
        <li [ngClass]="{'active': currentMenu == 'news'}"><a class="drop" (click)="onMenuItemClick('news')" routerLink="/news_list">Annonces</a>
          <ul *ngIf="IsDropped">
              <li><a (click)="onMenuItemClick('news')" [routerLink]="['news_list']">Toutes</a></li>
              <li><a (click)="onMenuItemClick('news')" [routerLink]="['news_list',{ncategory:'finance'}]">Finance / Epargne / Assurance</a></li>
              <li><a (click)="onMenuItemClick('news')" [routerLink]="['news_list',{ncategory:'ecologique'}]">Placement écologique</a></li>
              <li><a (click)="onMenuItemClick('news')" [routerLink]="['news_list',{ncategory:'immobilier'}]">Investissement Immobilier</a></li>
              <li><a (click)="onMenuItemClick('news')" [routerLink]="['news_list',{ncategory:'plaisir'}]">Investissement plaisir</a></li>
            </ul>
        </li>
        <li [ngClass]="{'active': currentMenu == 'users'}"><a class="drop" (click)="onMenuItemClick('users')" routerLink="/users">Professionnels du Chiffre et du Droit </a>
          <ul *ngIf="IsDropped">
              <li><a (click)="onMenuItemClick('users')" [routerLink]="['users']">Toutes</a></li>
              <li><a (click)="onMenuItemClick('users')" [routerLink]="['users',{pcategory:'assureurs'}]">Assureurs</a></li>
              <li><a (click)="onMenuItemClick('users')" [routerLink]="['users',{pcategory:'avocats'}]">Avocats</a></li>
              <li><a (click)="onMenuItemClick('users')" [routerLink]="['users',{pcategory:'patrimoine'}]">Conseillers en gestion de patrimoine</a></li>
              <li><a (click)="onMenuItemClick('users')" [routerLink]="['users',{pcategory:'prets'}]">Courtiers de prêts</a></li>
              <li><a (click)="onMenuItemClick('users')" [routerLink]="['users',{pcategory:'comptables'}]">Experts-comptables</a></li>
              <li><a (click)="onMenuItemClick('users')" [routerLink]="['users',{pcategory:'notaires'}]">Notaires</a></li>
              <li><a (click)="onMenuItemClick('users')" [routerLink]="['users',{pcategory:'immobilier'}]">Professionnels de l'immobilier</a></li>
            </ul>
        </li> 
        <li [ngClass]="{'active': currentMenu == 'ads'}"><a class="drop" (click)="onMenuItemClick('ads')" routerLink="/ad_list">Concepteurs de Solutions</a>
          <ul *ngIf="IsDropped">
            <li><a (click)="onMenuItemClick('ads')" routerLink="/ad_list">Toutes</a></li>
            <li><a (click)="onMenuItemClick('ads')" [routerLink]="['ad_list',{category:'classique'}]">Classique</a></li>
            <li><a (click)="onMenuItemClick('ads')" [routerLink]="['ad_list',{category:'e_brooker'}]">E-brooker</a></li>
            <li><a (click)="onMenuItemClick('ads')" [routerLink]="['ad_list',{category:'fintech'}]">Fintech</a></li>
            <li><a (click)="onMenuItemClick('ads')" [routerLink]="['ad_list',{category:'crowdfunding'}]">Crowdfunding</a></li>
            <li><a (click)="onMenuItemClick('ads')" [routerLink]="['ad_list',{category:'lendfunding'}]">Lendfunding</a></li>
          </ul>
        </li>
        
         
        <li><a href="https://patrimoine-forum-th.herokuapp.com">Forum du Patrimoine</a></li>      
      </ul>
    </nav>
    <!-- ################################################################################################ --> 
  </header>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div>
  <router-outlet></router-outlet>
</div>
<div class="wrapper row4">
  <footer id="footer" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="title">Lorem ipsum dolor</h6>
      <div class="footer_links">
      	<a href="">Découvrir la place du patrimoine</a><br>
      	<a href="">Qui sommes-nous?</a><br>
      	<a href="">Conditions d’utilisations</a><br>
      	<a href="">Nous contacter</a>
      </div>
      <address class="push30">
      Company Name<br>
      Street Name &amp; Number<br>
      Town<br>
      Postcode/Zip
      </address>
      <ul class="nospace">
        <li class="push10"><span class="icon-time"></span> Mon. - Fri. 9:00am - 7:00pm</li>
        <li class="push10"><span class="icon-phone"></span> +00 (123) 456 7890</li>
        <li><span class="icon-envelope-alt"></span> info@patrimoine.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="title">Lorem ipsum dolor</h6>
      <ul class="nospace clear">
        <li class="clear push30">
          <div class="imgl"><img src="assets/images/demo/80x80.gif" alt=""></div>
          <p class="nospace push15">Integer imperdiet vestibulum leo ut tincidunt in sagittis.</p>
          <p class="nospace"><a href="./pages/post_details.html">Read more &raquo;</a></p>
        </li>
        <li class="clear">
          <div class="imgl"><img src="assets/images/demo/80x80.gif" alt=""></div>
          <p class="nospace push15">Integer imperdiet vestibulum leo ut tincidunt in sagittis.</p>
          <p class="nospace"><a href="./pages/post_details.html">Read more &raquo;</a></p>
        </li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="title">Lorem ipsum dolor</h6>
      <ul class="nospace clear ftgal">
        <li class="one_third first"><a href="#"><img src="assets/images/demo/100x100.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="assets/images/demo/100x100.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="assets/images/demo/100x100.gif" alt=""></a></li>
        <li class="one_third first"><a href="#"><img src="assets/images/demo/100x100.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="assets/images/demo/100x100.gif" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="assets/images/demo/100x100.gif" alt=""></a></li>
      </ul>
    </div>
    <!-- ################################################################################################ --> 
  </footer>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">Domain Name</a></p>
    
    <!-- ################################################################################################ --> 
  </div>
</div>