<div class="wrapper row2">
      
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
<div class="wrapper row3">
    <main id="container" class="clear">
        <div class="ads_userlist">
        <ul>
            <li *ngFor="let ad of myAds">
            <p>{{ad.title}} <button (click)="OnDeleteAd(ad)" ><h5>X</h5></button></p>
            </li>
        </ul>
        </div>
    </main>
</div>