<div class="wrapper">
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <!--<div id="breadcrumb">
     ########################################################################################## 
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="#">Lorem</a></li>
      <li><a href="#">Ipsum</a></li>
      <li><a href="#">Dolor</a></li>
    </ul>
     ########################################################################################## 
  </div>-->
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main id="container" class="clear">
    <!-- container body -->
    <!-- ########################################################################################## -->
    <div class="loading" *ngIf="IsLoading"></div>
    <div id="content" class="three_quarter first" *ngIf="!IsLoading">
      <!-- ########################################################################################## -->
      <div id="comments">
        <ul >
          <li *ngFor="let user of UsersObservable">
            <article>
              <div class="user_head">
                <h2><a  [routerLink]="['/users/' + user.id]" >{{user.first_name + " " + user.last_name}}</a></h2>
                <div class="like"><img src="../images/demo/like.png" alt=""> Like</div>
              </div>
              <div class="user_block">
                <div *ngIf="user.company" class="img"><img class="borderedbox" [src]="user.company.logo_file_name" alt=""></div>
                <div class="desc">
                  <p *ngIf="user.phone || user.email"><strong>Contacts:</strong> <br /><span *ngIf="user.phone"><span class="icon-phone"></span>{{user.phone}}</span><br /><span *ngIf="user.email"><span class="icon-envelope"></span>{{user.email}}</span></p>
                  <p *ngIf="user.company"><strong>Category:</strong> 
                    <span >
                      <a href="#">{{user.company.sub_category}}</a>
                    </span> 
                  </p>
                  <p *ngIf="user.company"><strong>About:</strong></p>
                </div>
                <div class="rating_wrap">
                  <div class="stars_wrap">
                    <div class="stars_empty"><div class="stars" style="width: 40%;"></div></div>
                    <span>Concepteur</span>
                  </div>
                  <div class="stars_wrap">
                    <div class="stars_empty"><div class="stars" style="width: 40%;"></div></div>
                    <span>Conseiller</span>
                  </div>
                </div>
              </div>
              <div class="user_block_text" *ngIf="user.company">
                {{user.company.description}}
              </div>
            </article>
          </li>
          <li class="post_banner">
            <img src="../images/demo/ads_demo_hor.jpg" alt="">
          </li>
        </ul>
      </div>
      <div class="pagination">
        <ul>
            <li *ngIf="Page > 1"><a [routerLink]="[{page:Page-1}]">« Previous</a></li>
            <li *ngFor="let i of Pages" ><a [routerLink]="[{page:i}]">{{i}}</a></li>
            <li *ngIf="Page < Pages.length"><a [routerLink]="[{page:Page*1+1}]">Next »</a></li>
        </ul>
    </div>
    </div>
    <div class="sidebar one_quarter" *ngIf="!IsLoading">
      <h6>Advanced Search</h6>
      <div class="sdb_holder" id="comments">
        <form class="filter">
          <h6>Mot clé</h6>
          <input type="text" name="name" id="name" value="" size="22" placeholder="Name" class="push50">
          <h6>Type d'investissement</h6>
          <p>Finance / Epargne / Assurance</p>
          <input type="checkbox" checked> Epargne<br>
          <input type="checkbox"> Epargne salariale<br>
          <input type="checkbox"> SICAV<br>
          <input type="checkbox"> Private Equity - Fonds<br>
          <input type="checkbox"> Private Equity - Direct<br>
          <input type="checkbox"> Crowdfounding<br>
          <input type="checkbox"> Corporate<br>
          <input type="checkbox"> Assurance Vie<br>
          <input type="checkbox"> Assurance IARD<br>
          <input type="checkbox"> Prévoyance / Retraite<br>
          <input type="checkbox"> Crédit<br>
          <p>Investissement Immobilier</p>
          <input type="checkbox"> Physique (neuf et rénovation)<br>
          <input type="checkbox"> Papier<br>
          <p>Investissement plaisir</p>
          <input type="checkbox"> Vin<br>
          <input type="checkbox"> Vignobles<br>
          <input type="checkbox"> Terres agricoles / Forêts<br>
          <input type="checkbox"> Voitures<br>
          <input type="checkbox"> Marché de l'Art<br>
          <input type="checkbox"> Autres (montres, or...)<br>
          <p>Placement écologique</p>
          <input type="checkbox"> Investissement durable stratégique<br>
          <input type="checkbox"> Épargne sociale et solidaire<br><br>
          <h6>Situation géographique</h6>
          <p>En France</p>
          <input type="checkbox" checked>
          <select>
            <option>France entiére</option>
          </select>
          <p>Dans le monde</p>
          <input type="checkbox"> Europe hors France<br>
          <input type="checkbox"> Monde hors Europe<br><br>
          <h6>Date de publication</h6>
          <div class="filter_date">
            <label>Du</label><input type="text">
          </div>
          <div class="filter_date">
            <label>Au</label><input type="text">
          </div>
          <button type="submit">Relancer la recherche »</button>
        </form>
        <div class="side_banner">
          <img src="../images/demo/ads_demo.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->