<div class="wrapper">
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <!--<div id="breadcrumb">
     ########################################################################################## 
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="#">Lorem</a></li>
      <li><a href="#">Ipsum</a></li>
      <li><a href="#">Dolor</a></li>
    </ul>
     ########################################################################################## 
  </div>-->
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main id="container" class="clear">
    <!-- container body -->
    <!-- ########################################################################################## -->
    <div class="loading three_quarter first" *ngIf="IsLoading"></div>
    <div id="content" class="three_quarter first" *ngIf="!IsLoading">
      <!-- ########################################################################################## -->
      <div id="comments">
        <ul >
          <li *ngFor="let user of UsersObservable">
            <article>
              <div class="user_head">
                <h2><a  [routerLink]="['/users/' + user.id]" >{{user.first_name + " " + user.last_name}}</a></h2>
                <span class="date">Last update: {{user.updated_at | date: " HH:mm d MMMM, y"}}</span>
                <div *ngIf="user.company" class="like" (click)="LikeUser(user.id*1)"><img src="../images/demo/like.png" alt=""> Like {{user.company.likes}}</div>
              </div>
              <div class="user_block">
                <div *ngIf="user.company" class="img"><img class="borderedbox" [src]="Images[user.id]" alt=""></div>
                <div class="desc">
                  <p *ngIf="user.phone || user.email">
                    <strong>Contacts:</strong>
                    <span *ngIf="user.phone">
                      <span class="icon-phone"></span>
                      {{user.phone}}
                    </span>
                    <span *ngIf="user.phone" >
                      <br />
                    </span>
                    <span [ngClass]="{'contact-margin':user.phone}" *ngIf="user.email">
                      <span class="icon-envelope"></span>
                      {{user.email}}
                    </span>
                  </p>
                  <p *ngIf="user.company">
                    <span *ngIf="user.company.name">
                      <hr>
                      <strong>Company name:</strong>
                      {{user.company.name}}
                      <br />
                    </span>
                    <span *ngIf="(user.company.phone || user.company.email) && (user.company.phone != user.phone || user.company.email != user.email)">
                      <hr>
                      <strong>Company contacts:</strong>
                      <span *ngIf="user.company.phone && user.company.phone != user.phone">
                        <span class="icon-phone"></span>
                        {{user.company.phone}}
                      </span>
                      <span *ngIf="user.company.phone && user.company.phone != user.phone" >
                        <br />
                      </span>
                      <span [ngClass]="{'company-contact-margin':user.company.phone && user.company.phone != user.phone}" *ngIf="user.company.email && user.company.email != user.email">
                        <span class="icon-envelope"></span>
                        {{user.company.email}}
                        <br />
                      </span>
                    </span>
                    <span *ngIf="user.company.sub_category">
                      <hr>
                      <strong>Category:</strong> 
                      <span >
                        <a href="#">{{user.company.sub_category}}</a>
                      </span>
                      <br />
                      
                    </span>
                    <span *ngIf="user.company.expertises && user.company.expertises.length != 0">
                      <hr>
                      <strong>Expertises:</strong> 
                      <span *ngFor="let item of user.company.expertises; let last = last" >
                        <a href="#">{{item}}</a><span *ngIf="!last">,</span>
                      </span>
                      <br />
                    </span> 
                    <span *ngIf="user.company.agrements && user.company.agrements.length != 0">
                      <hr>
                      <strong>Agreements:</strong> 
                      <span *ngFor="let item of user.company.agrements; let last = last" >
                        <a href="#">{{item}}</a><span *ngIf="!last">,</span>
                      </span>
                      <br />
                    </span>  
                  </p>
                  <div class="user_block_text" *ngIf="user.company && user.company.description">
                    <hr>
                     <strong>About:</strong> {{user.company.description}}
                  </div>
                </div>
                <div class="rating_wrap" *ngIf="user.company">
                  <div class="stars_wrap">
                    <div class="stars_empty"  #concepteur (click)="RateUser(user.id,concepteur,$event)"><div class="stars" [ngStyle]="{'width': 100*user.company.rate/5. + '%'}"></div></div>
                    <span>Concepteur</span>
                  </div>
                  <div class="stars_wrap">
                    <div class="stars_empty" (click)="UnrateUser(user.id)"><div class="stars" [ngStyle]="{'width': 100*user.company.rate/5. + '%'}"></div></div>
                    <span>Conseiller</span>
                  </div>
                  <div class="error-msg" *ngIf="ErrorMesages[user.id]">{{ErrorMesages[user.id]}}</div>
                </div>
              </div>
              
            </article>
          </li>
          <li class="post_banner">
            <img src="../images/demo/ads_demo_hor.jpg" alt="">
          </li>
        </ul>
      </div>
      <div class="pagination">
        <ul>
            <li *ngIf="Page > 1"><a (click)="PrevOrNextPage(false)" >« Previous</a></li>
            <li *ngFor="let i of Pages" ><a (click)="ChangePageNumber(i*1)" [ngClass]="Page*1 == i*1 ? 'active-page':''" >{{i}}</a></li>
            <li *ngIf="Page < Pages.length"><a (click)="PrevOrNextPage(true)" >Next »</a></li>
        </ul>
      </div>
    </div>
    <div class="sidebar one_quarter">
      <h6>Advanced Search</h6>
      <div class="sdb_holder" id="comments">
        <form class="filter">
          <h6 class="search-heared">Mot clé</h6>
          <input type="text" name="name" id="name" value="" size="22" [ngModel]="Params.name" (ngModelChange)="Params.name = $event"  placeholder="Name">
          <h6 class="search-heared">Address</h6>
          <input type="text" name="address" id="address" value="" size="22" [ngModel]="Params.address" (ngModelChange)="Params.address = $event"  placeholder="Address">
          <input type="text" name="other_address" id="other_address" value="" size="22" [ngModel]="Params.other_address" (ngModelChange)="Params.other_address = $event"  placeholder="Other address">

          <h6 class="search-heared">Company type</h6>
              <select name="c_type" [ngModel]="Params.c_type" (ngModelChange)="Params.c_type = $event" >
                <option value="concepteur">Concepteur</option>
                <option value="conseiller">Conseiller</option>
                <option value="both">Both</option>
            </select>
          
            
          <h6 class="search-heared">Subcategories</h6>
            <div class="search_checkbox" *ngFor="let item of Subcategory">
                  <input type="checkbox" [checked]="item.checked" (change)="item.checked = !item.checked">
                  {{item.name}}
            </div>
          <h6 class="search-heared">Expertises</h6>
            <div class="search_checkbox" *ngFor="let item of Expertises">
                  <input type="checkbox" [checked]="item.checked" (change)="item.checked = !item.checked">
                  {{item.name}}
            </div>
            <h6 class="search-heared">Agrements</h6>
            <div class="search_checkbox" *ngFor="let item of Agreements">
                  <input type="checkbox" [checked]="item.checked" (change)="item.checked = !item.checked">
                  {{item.name}}
            </div>
          <button type="submit" (click)="OnSearchSubmit()">Relancer la recherche »</button>
        </form>
        <div class="side_banner">
          <img src="../images/demo/ads_demo.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->