<div class="wrapper row2">
      <!--<div id="breadcrumb">
        ########################################################################################## 
        <ul>
          <li><a href="#">User</a></li>
          <li><a href="#">Details</a></li>


        </ul>
        ########################################################################################## 
      </div>-->
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
<div class="wrapper row3">
  <div class="loading" *ngIf="IsLoading"></div>
  <main id="container" class="clear" *ngIf="!IsLoading">
    <!-- container body -->
    <!-- ########################################################################################## -->
    <h1 align="center"><a>{{User.first_name + " " + User.last_name}}</a></h1>
    <div >
        <span class="date-profile">Last update: {{User.updated_at | date: " MMMM d, y HH:mm"}}</span>
        <div class="right height200">
        <img  *ngIf="ImageBase64" class="borderedbox profile-logo" [src]="ImageBase64" alt="" style="width:240px;">
        <button *ngIf="isMe" class="subscribe-button" (click)="EmailSubscription()">{{User.has_email_notifications?"Uns":"S"}}ubscribe</button>
        </div>
    </div>
    <div class="profile-info" *ngIf="User.phone || User.email">
      <div class="profile-info-header"><strong class="strong-profile">Contacts</strong></div>
      <div class="profile-info-content">
        <span *ngIf="User.phone">
          <span class="icon-phone"></span>
          {{User.phone}}
        </span>
        <span *ngIf="User.phone" >
          <br />
        </span>
        <span  *ngIf="User.email">
          <span class="icon-envelope"></span>
          {{User.email}}
        </span>
      </div>
    </div>
    <div *ngIf="User.company">
        <div class="profile-info" *ngIf="User.company.name">
          <div class="profile-info-header"><strong class="strong-profile">Company name</strong></div>
          <div class="profile-info-content">
            {{User.company.name}}
          </div>
        </div>
        <div class="profile-info" *ngIf="User.company.phone || User.company.email">
          <div class="profile-info-header">
            <strong class="strong-profile">Company contacts</strong>
          </div>
          <div class="profile-info-content">
            <span *ngIf="User.company.phone">
              <span class="icon-phone"></span>
              {{User.company.phone}}
            </span>
            <span *ngIf="User.company.phone" >
              <br />
            </span>
            <span *ngIf="User.company.email">
              <span class="icon-envelope"></span>
              {{User.company.email}}
            </span>
          </div>
        </div>
        <div class="profile-info" *ngIf="User.company.address || User.company.other_address">
          <div class="profile-info-header">
            <strong class="strong-profile">Adress</strong>
          </div>
          <div class="profile-info-content">
            <span *ngIf="User.company.address">
              <span class="icon-phone"></span>
              {{User.company.address}}
            </span>
            <span *ngIf="User.company.address" >
              <br />
            </span>
            <span *ngIf="User.company.other_address">
              <span class="icon-envelope"></span>
              {{User.company.other_address}}
            </span>
          </div>
        </div>
        <div class="profile-info" *ngIf="SubCategory && SubCategory.length != 0">
          <div class="profile-info-header"><strong class="strong-profile">Category</strong></div>
          <div class="profile-info-content">
            <span *ngFor="let item of SubCategory; let last = last" >
              <span >{{item}}</span><span *ngIf="!last">,</span>
            </span>
          </div>
        </div>
        <div class="profile-info" *ngIf="Expertises && Expertises.length != 0">
          <div class="profile-info-header"><strong class="strong-profile">Expertises</strong></div>
          <div class="profile-info-content">
            <span *ngFor="let item of Expertises; let last = last" >
              <span >{{item}}</span><span *ngIf="!last">,</span>
            </span>
          </div>
        </div>
        <div class="profile-info" *ngIf="Agreements && Agreements.length != 0">
          <div class="profile-info-header"><strong class="strong-profile">Agreements</strong></div>
          <div class="profile-info-content">
            <span *ngFor="let item of Agreements; let last = last" >
              <span >{{item}}</span><span *ngIf="!last">,</span>
            </span>
          </div>
        </div>
        <div class="profile-info" *ngIf="User.company.description">
          <div class="profile-info-header"><strong class="strong-profile">About</strong></div>
          <div class="profile-info-content">
            {{User.company.description}}
          </div>
        </div>
        <div class="profile-info">
          <div class="profile-info-header"><strong class="strong-profile">Average rate of user</strong></div>
          <div class="profile-info-content">
            <div class="stars_empty"><div class="stars" [ngStyle]="{'width': 100*(User.company.rate>0?(User.company.rate-1):0)/4. + '%'}"></div></div>
          </div>
        </div>
        <div class="profile-info">
          <div class="profile-info-header"><strong class="strong-profile">Your rate for user</strong></div>
          <div class="profile-info-content">
            <div class="stars_empty" (click)="RateOrUnrateUser($event)"><div class="stars" [ngStyle]="{'width': 100*(IsRated > 0?(IsRated-1):0)/4. + '%'}"></div></div>
          </div>
        </div>
        
    </div>
    <div class="">
      <div *ngIf="User.company" class="like in-profile" style="margin-right: 10px;" [ngClass]="{'like-active': IsLiked}" (click)="LikeOrUnlikeUser()"><img src="../images/demo/like.png" alt=""> Like {{User.company.likes}}</div> 
  </div>
    
    
    
    <!-- ########################################################################################## -->
    <!-- / container body -->
    <div class="clear"></div>
  </main>
</div>