<div class="wrapper row2">
  
</div>
<!-- ################################################################################################ -->
<div class="wrapper">
  
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <!-- ########################################################################################## -->
    <div class="loading" *ngIf="IsLoading"></div>
  <main id="container" class="clear" *ngIf="!IsLoading">
    <!-- container body -->
    <!-- ########################################################################################## -->
    <h1 align="center"><a>{{Ads.title}}</a></h1>
    <p>
    </p>
    <div class="news-description">
      {{Ads.description}}
    </div>
    <p align="right">
      <b>Author: <a [routerLink]="['/users',Author.id]" >{{Author.first_name + " " + Author.last_name}}</a></b>
    </p>
    <!-- ########################################################################################## -->
    <!-- / container body -->
    <div class="clear"></div>
  </main>
</div>