<div class="wrapper row2">
      
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
<div class="wrapper row3">
    <main id="container" class="clear">
        <div class="ads_creation reg_block">
            <div *ngIf="createError">
                <h1 class="error-msg">{{errorMsg}}</h1>
            </div>
            <div class="loading" *ngIf="isLoading"></div>
             
            <div class="ad_create_form" *ngIf="!isLoading">
                <h1>Create annonce</h1>
                <form >
                    <label>Title</label>
                    <input type="text" name="title" [(ngModel)]="title" required value="">
                    <br>
                    <label>Subtitle</label>
                    <input type="text" name="subtitle" [(ngModel)]="subtitle" required value="">
                    <br>
                    <label>Logo image</label>
                    <input type="file" accept="image/*" name="logo_img" [(ngModel)]="logo_img" (change)="changeListener($event)">
                    <br>
                    <label>Category</label>
                    <select name="ncategory" [(ngModel)]="ncategory" >
                      <option value="finance">Finance / Epargne / Assurance</option>
                      <option value="ecologique">Placement écologique</option>
                      <option value="immobilier">Investissement Immobilier</option>
                      <option value="plaisir">Investissement plaisir</option>
                    </select>
                    <br>
                    <label>Type</label>
                    <select name="ntype" [(ngModel)]="ntype">
                        <option value="standart" selected>Standart</option>
                        <option value="premium">Premium</option>
                    </select>
                    <br>
                    <label>Links</label>
                    <input type="text" name="links" [(ngModel)]="links" required value="">
                    <br>
                    <label>Description</label>
                    <textarea name="description" [(ngModel)]="description" required></textarea>
                    <br>
                    <button [disabled]="!isOkEnabled" (click)="OncreateNewsButtonClick(title,subtitle,description,ncategory,ntype,links)">Create annonce</button>
                </form>
            </div>
        </div>
    </main>
</div>