<div class="wrapper row2">
  <div id="breadcrumb">
    <!-- ########################################################################################## -->
    <ul>
      <li><a href="#">Post</a></li>
      <li><a href="#">Details</a></li>
    </ul>
    <!-- ########################################################################################## -->
  </div>
</div>
<!-- ################################################################################################ -->
<div class="wrapper">
  
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <!-- ########################################################################################## -->
  <main id="container" class="clear">
    <!-- container body -->
    <!-- ########################################################################################## -->
    <h1 align="center"><a href="">{{Ads.Title}}</a></h1>
    <p>
    </p>
    <pre>
      {{Ads.Description}}
    </pre>
    <p align="right">
      <b>Author: <a href="./user_detail">User Name</a></b>
    </p>
    <!-- ########################################################################################## -->
    <!-- / container body -->
    <div class="clear"></div>
  </main>
</div>